body{
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-size: 36px;
  font-weight: 600;
  color: $secondary;
}
h2{
    font-size: 24px;
    font-weight: 300;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 15px;
  }
  h5{
    font-size: 13px;
  }
